.share{
    float: right;
    font-size: 15px;
    cursor: pointer;
    color: black;
}

.sharebox{
    font-size: 10px;
    padding-left: 3px;
    margin-bottom: 20px;
    background: white;
    position: absolute;
    display: none;
    top: 50px;
    right: 0.7%;
    width: 105px;
    height: 70px;
    line-height: 30px;
    box-shadow: 0 0 10px rgba(0, 0 , 0, 0.5);
    border-top: 4px solid rgb(0 27 148);
    border-radius: 5px;
    color: black;
}

.sharebox:before{
    content: "";
    position: absolute;
    top: -30px;
    right: 7px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid rgb(0 27 148);
}

.sharebox a{
    text-decoration: none;

}

.sharebox a:hover{
    color: none;
}